# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
# Clerk (do not commit real secrets)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cG9ldGljLW1hbGxhcmQtOTcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_0LOP5yrYQ3hIGhqB24Qmnur8tSlm23GOuhkXDsRdtM
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
CLERK_AFTER_SIGN_IN_URL=/dashboard
CLERK_AFTER_SIGN_UP_URL=/dashboard