# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Clerk (soul.prism)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# intercept.prism
SWAGGER_HOST=

# soul.prism
INTERCEPT_URL=
CLERK_SIGN_IN_URL=
CLERK_SIGN_UP_URL=
CLERK_AFTER_SIGN_IN_URL=
CLERK_AFTER_SIGN_UP_URL=