name: prism
include:
  - path: compose.db.yml
services:
  intercept.prism:
    build:
      context: ./intercept.prism
      dockerfile: Dockerfile
      target: build-release-stage
    ports:
      - 7000:7000
    environment:
      DATABASE_URL: postgresql://username:password@db:5432/prism?search_path=public

  soul.prism:
    build:
      context: ./soul.prism
      dockerfile: Dockerfile
      target: runner
    ports:
      - 3000:3000
    environment:
      INTERCEPT_URL: http://intercept.prism:7000
      DATABASE_URL: postgresql://username:password@db:5432/prism?search_path=public
