name: intercept.prism
include:
  - path: ../compose.db.yml
services:
  intercept.prism:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-release-stage
    ports:
      - 7000:7000
    environment:
      DATABASE_URL: postgresql://username:password@db:5432/prism?search_path=public
